.menu {
    position: absolute;
    padding: 35px 0;
    background-color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu img {
    padding: 0 35px;
}

.menu nav {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 15px 35px;
}

.ativo {
    color: #5965E0;
    border-left: #5965E0 5px solid;
    padding-left: 30px !important;
}